*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.flex{
    display: flex;
}
body{
    background-color: #FFFFF4;
    font-family: 'Roboto', sans-serif;
    color: #0A0402;
    font-style: regular;
    font-size: clamp(13px, 10vw, 18px);
    line-height: 1.3;
    /* convention du web : séparer paragraphes de 1.3 */
}
img{
    /* garder ratio d'une image  */
    object-fit: cover;
    display: block;
    max-width: 100%;
}
div{
    height: auto;
}
button{
    border-radius: 5px;
    border: 1px solid #fcbc25;
    background-color: #FFEEC6;
    padding: .4% 3% .4% 3%;
    /* padding: top right bottom left*/
    transition: background-color .5s;
    font-family: 'Roboto', sans-serif;
    color: #0A0402;
    font-size: clamp(13px, 10vw, 18px);
    line-height: 30px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
button:hover {
    color: #fcbc25;
    background-color: #0F414F;
    border: 1px solid #0F414F;
  }
p{
    font-size: clamp(13px, 10vw, 18px);
}
h1, h2, h3, h4, h5{
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Italiana', serif;
    font-weight: 700;
}
h1{
    font-size: clamp(40px, 10vw, 50px);
}
h2{
    font-size: clamp(32px, 10vw, 42px);
}
a{
    font-size: clamp(11px, 10vw, 16px);
}

/* HEADER */
nav{
    min-width: 100vw;
    min-height: 10vh;
    background-color: #0F414F;
    justify-content: space-between;
}
nav .logo{
    margin-left: 10%;
}
.menulinks{
    justify-content: space-around;
    align-items: center;
    gap: 30%;
    margin-right: 10%;
}
nav a{
    text-decoration: none;
    color: cornsilk;
    margin-left: 5%;
    transition: color .5s;
}
a:hover {
    color: #fcbc25;
  }
#title{
    min-height: 16vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 7vh;
}

/* MAIN */
#lovestory p{
    color: gray;
    margin-top: 3%;
}

#lovestory{
    display: grid;
    grid-gap: 5%;
    min-width: 100vw;
    padding: 5% 5% 15% 5%;
    /* padding: top right bottom left*/
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
    grid-template-areas:    
    "cookiepic cookietext"
    "preparationtext preparationpic"
    "chouxpic chouxtext";
}
.cookiepic{
    grid-area: cookiepic;
}
.cookietext{
    grid-area: cookietext;
    flex-direction: column;
    justify-content: center; 
}
.preparationpic{
    grid-area: preparationpic;
}
.preparationtext{
    grid-area: preparationtext;
    flex-direction: column;
    justify-content: center;
}
.chouxpic{
    grid-area: chouxpic;
}
.chouxtext{
    grid-area: chouxtext;
    flex-direction: column;
    justify-content: center;
}

/* FOOTER */
footer{
    padding-left: 5%;
    padding-right: 5%;
}
footer a{
    text-decoration: none;
    color: #0F414F;
    margin-top: 8%;
    transition: color .5s;
}
footer a:hover {
    color: #fcbc25;
}
footer p{
    font-size: clamp(11px, 10vw, 16px);
}
.linkedin{
    max-width: 20%;
}
.twitter{
    max-width: 20%;
}
footer{
    display: grid;
    grid-gap: 1%;
    min-width: 100vw;
	min-height: 40vh;
    grid-row-gap: 2px #0A0402;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 1% 1fr;
    grid-template-areas:    
    "logo logo . collections bakery button"
    "line line line line line line"
    "copyright copyright copyright . . socialmedia";
}
.logo{
	grid-area: logo;
    align-self: flex-start;
}
.collections{
	grid-area: collections;
    display: flex;
    flex-direction: column;
}
.bakery{
    grid-area: bakery;
    display: flex;
    flex-direction: column;
}
.button{
    grid-area: button;
    align-self: flex-start;
}
.copyright{
    grid-area: copyright;
    align-self: center;
}
.socialmedia{
    grid-area: socialmedia;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.line{
    grid-area: line;
    background-color: grey;
}

/* MEDIA QUERIES */
@media (max-width: 500px){
	/*  HEADER */
    header{
        height: auto;
    }
    nav .logo{
        margin-left: 5%;
    }
    #title{
        text-align: center;
        padding: 0 12% 0 12%;
        /* padding: top right bottom left*/
    }
    h1{
        margin-bottom: 5%;
        line-height: 1;
    }
    #title p{
        line-height: 1.5;
    }

    /* MAIN */
    #lovestory{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 3% 1fr 3% 1fr 3%;
        grid-template-areas:    
        "cookiepic"
        "cookietext"
        "preparationpic"
        "preparationtext"
        "chouxpic"
        "chouxtext";
    }
    #lovestory h2{
        margin-top: -7%;
    }
    #lovestory p{
        padding-bottom: 20%;
    }
    #lovestory .chouxtext p{
        padding-bottom: 30%;
    }

    /* FOOTER */
    footer{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 10% 1% 1fr;
        grid-template-areas:    
        "logo logo . ."
        "collections bakery button button"
        ". . . ."
        "line line line line"
        "copyright copyright socialmedia socialmedia";
    }
}
@media (min-width: 500px) and (max-width: 750px){
	/*  HEADER */
    header{
        height: auto;
    }
    nav .logo{
        margin-left: 5%;
    }
    #title{
        text-align: center;
        padding: 0 12% 0 12%;
        /* padding: top right bottom left*/
    }
    h1{
        margin-bottom: 5%;
        line-height: 1;
    }
    #title p{
        line-height: 1.5;
    }
    
    /* MAIN */
    #lovestory{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 3% 1fr 3% 1fr 3%;
        grid-template-areas:    
        "cookiepic"
        "cookietext"
        "preparationpic"
        "preparationtext"
        "chouxpic"
        "chouxtext";
    }
    #lovestory p{
        padding-bottom: 10%;
    }
    #lovestory .chouxtext p{
        padding-bottom: 20%;
    }

    /* FOOTER */    
    footer{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1% 1fr;
        grid-template-areas:    
        "logo logo collections bakery button button"
        "line line line line line line"
        "copyright copyright copyright . socialmedia socialmedia";
    }
}
